/* colors */ /*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&family=Shrikhand&display=swap");
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.main {
  font-family: Roboto, sans-serif;
}

h1 {
  font-family: "Shrikhand", cursive;
  font-weight: 400;
  font-size: 30px;
}

h2 {
  font-weight: 700;
  font-size: 24px;
}

h3 {
  font-size: 18px;
}

p {
  font-weight: 300;
}

.btn a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  padding: 13px 0 13px 0;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  text-align: center;
}

.card {
  border-radius: 15px;
}

.card p {
  font-size: 15px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__title {
  margin: 14px 0 5px 0;
}

.footer {
  padding-left: 25px;
  color: rgb(255, 255, 255);
  background: #353535;
}
.footer__title {
  font-family: "Shrikhand", cursive;
  font-weight: 400;
  font-size: 18px;
  font-style: italic;
  padding-top: 22px;
  padding-bottom: 16px;
}
.footer__links {
  font-weight: 500;
  font-size: 16px;
  padding-bottom: 15px;
}
.footer__links li {
  padding-bottom: 7px;
}
.footer__links li > a {
  display: flex;
  align-items: center;
}
.footer__links li i {
  margin-right: 11px;
}

.intro__location {
  background: #eaeaea;
  font-weight: 500;
  font-size: 16px;
  padding-top: 15.5px;
  padding-bottom: 15.5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.intro__location i {
  margin-right: 17px;
  font-size: 16px;
}
.intro__reserve {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 39.5px;
  padding-bottom: 57px;
  background: #F6F6F6;
}
.intro__reserve__title {
  margin-bottom: 10px;
  text-align: center;
}
.intro__reserve p {
  font-size: 18px;
  text-align: center;
}
.intro__reserve__button {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.intro__reserve__button a {
  padding-left: 19px;
  padding-right: 19px;
}

.fonctionnement {
  margin: 48px 20px 68px 20px;
}
.fonctionnement__tuto {
  margin-top: 26px;
}
.fonctionnement__tuto__card {
  display: flex;
  align-items: center;
  position: relative;
  margin-left: 12px;
  margin-bottom: 25px;
  background-color: #F6F6F6;
  border-radius: 20px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
}
.fonctionnement__tuto__card:last-child {
  margin-bottom: 0px;
}
.fonctionnement__tuto__card i {
  margin-right: 27px;
  margin-left: 33.5px;
  font-size: 20px;
  color: #7e7e7e;
}
.fonctionnement__tuto__card:last-child i {
  color: #9356DC;
}
.fonctionnement__tuto__card p {
  margin: 29px 0 29px 0;
  font-size: 16px;
  font-weight: 500;
}
.fonctionnement__tuto__card__number {
  position: absolute;
  width: 24px;
  height: 24px;
  background-color: #9356DC;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  left: -12px;
}

.restaurants {
  padding: 54px 18px 66px 17px;
  background: #F6F6F6;
}
.restaurants__list {
  margin-top: 26px;
}
.restaurants__list__card {
  background: white;
  position: relative;
  margin-bottom: 18px;
}
.restaurants__list__card:last-child {
  margin-bottom: 0px;
}
.restaurants__list__card--new::after {
  position: absolute;
  content: "Nouveau";
  top: 13px;
  right: 15px;
  background: #99E2D0;
  padding: 7px 9px;
  color: #008766;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
}
.restaurants__list__card__img {
  height: 175px;
  width: 100%;
  object-fit: cover;
  object-position: 50% 65%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.restaurants__list__card__txt {
  padding: 16px 25px 12px 13px;
  display: flex;
  justify-content: space-between;
}
.restaurants__list__card__txt p {
  margin-top: 5px;
}
.restaurants__list__card__txt h3 {
  font-weight: 700;
}
.restaurants__list__card__txt i {
  position: relative;
  margin-top: 8px;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*# sourceMappingURL=index.css.map */
